<h2> User Information</h2>
<form [formGroup]="userDetailForm">
  <div class="row">
    <div class="col-md-6">
      <label>First Name:</label> 
        <input type="text" 
          class="form-control" 
          formControlName="first" 
          placeholder="Enter First Name"> <br>
      <label>Last Name:</label> 
        <input type="text" 
          class="form-control" 
          formControlName="last" placeholder="Enter Last Name"> <br>
      <label>Email:</label> 
        <input type="text" 
        class="form-control"
        formControlName="email">
      <label>Phone:</label> 
        <input type="text" 
        class="form-control"
        formControlName="phone">
      <div class="form-group">
        <label for="About Me">About Me</label>
        <textarea class="form-control" 
          formControlName="aboutMe" 
          id="aboutMe" rows="3" placeholder="Enter info about yourself"></textarea>
      </div>
    </div>    
  </div>
  <br>
    <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
</form>
